body{
    margin: 0;
    background-image: url("image/summer-background-abstract-background-wallpaper-use-for-presentation_HDDYoJOhMg_thumb.jpg");
    background-repeat: no-repeat;
    background-size :cover ;
    font-family: 'GmarketSans';
}

h1{
    padding-top: 2em;
    display: flex;
    justify-content: center;
    color: gray;

}

#taskInput{
    outline: none;
    width: 500px;
    height: 40px;
    border-radius: 1;
    /* border-color: rgb(202, 167, 233); */
    color : gray

}

.inputArea{
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
}

.container{
    background-color:  white;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.taskArea {
    border : 1px solid lightgray
}

.taskTabs{
    display: flex;
    border-bottom : 1px solid lightgray;
    position: relative;
    color: gray;
}

.taskTabs div {
     padding: 1em;
}

#underLine{
    height: 4px;
    background-color: rgb(252, 229, 205);
    position: absolute;
    width: 70px;
    left : 0px;
    top : 55px;
    padding: 0px;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: gray;
}

.taskDone {
    text-decoration: line-through;
    background-color: lightgray;
}

.taskTabs div {
    cursor: pointer;
}

#addButton {
    background-color:rgb(252, 229, 205);
    border-radius:5px;
    border-style: none;
}

.button{
    background-color: rgb(252, 229, 205);
    border-radius:5px;
    border-style: none;
    color: gray;
}